@import "~styles/common";

.SearchBox {
    position: relative;

    margin: 0;
    padding: 0;
}

.SearchBox-Input {
    $search-height: 60px;

    display: flex;

    height: $search-height;
    margin: 0 50px;
    margin-top: 50px;

    box-shadow: 0 0 10px rgba($shadow, 0.2);
    background-color: $modal-color;

    border: 1px solid $bg-color;

    transition: box-shadow 0.2s;

    input[type="text"] {
        flex-grow: 1;

        padding: 0 30px;
        min-width: 120px;

        background-color: $modal-color;
        border: none;

        font-size: 1.5em;
        font-family: $label-font;
        color: $font-color;
    }

    input[type="file"] {
        display: none;
    }

    button, label {
        flex-shrink: 0;

        display: inline-block;
        width: 90px;

        background: none;
        border: none;
        border-left: 1px solid $bg-color;

        font-size: 1.4em;
        color: $font-color;
        text-align: center;
        line-height: $search-height;
    }

    button:hover, button:focus, label:hover, label:focus {
        color: $highlight;
    }
}

.SearchBox-Input:focus-within {
    box-shadow: 0 0 10px rgba($highlight, 0.2);
}

// focus-within will cause animations to be skipped, so only use this rule while not animating
.SearchBox:focus-within .SearchBox-Results:not(.SearchBox-Results-enter):not(.SearchBox-Results-exit),
.SearchBox-Results-enter.SearchBox-Results-enter-active,
.SearchBox-Results-exit {
    visibility: visible;
    opacity: 1;
    height: 350px;
    transition: visibility 0s 0s, opacity 0.2s 0s, height 0.3s, box-shadow 0.3s;

    .Overlay {
        box-shadow: 0 0 20px rgba($shadow, 0.4);
    }
}

.SearchBox-Results,
.SearchBox-Results-enter,
.SearchBox-Results-exit.SearchBox-Results-exit-active {
    // Workaround for Firefox bug where the text truncation ellipsis of underlying elements will
    // render ontop of the top-level overlay
    z-index: 10;

    // Lets clicks passthrough the hidden parts of the overlay container
    pointer-events: none;

    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;

    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility 0s 0.3s, opacity 0.2s 0.1s, height 0.3s;

    background: none;

    .Overlay {
        pointer-events: auto;

        width: 70%;
        height: 100%;

        overflow-x: hidden;
        overflow-y: auto;

        margin: 0 auto;
        padding: 0;

        background: $modal-color;
        border: 1px solid $bg-color;

        box-shadow: 0 0 0 rgba($shadow, 0.4);
        transition: box-shadow 0.3s;

        ul {
            list-style-type: none;

            margin: 0;
            padding: 0;

            li {
                button {
                    display: flex;

                    position: relative;
                    width: 100%;

                    overflow: hidden;

                    background: none;
                    border: none;
                    padding: 0px;

                    z-index: 1;

                    border-left: 0 solid $highlight;
                    box-shadow: 0 0 0 rgba($shadow, 0.2);
                    transition: border-width 0.1s, box-shadow 0.2s;

                    .Thumbnail {
                        flex-shrink: 0;

                        $img-width: 130px;
                        width: $img-width;
                        height: $img-width * 9 / 16;
                    }

                    .Description {
                        @include truncate-text;

                        flex-grow: 1;

                        padding: 18px 30px 0 30px;

                        font-family: $label-font;
                        text-align: left;

                        border-bottom: 1px solid $bg-color;

                        .Title {
                            @include truncate-text;

                            color: $font-color;
                            font-size: 1.4em;
                        }

                        .Duration {
                            color: $font-faded-color;
                            font-size: 1.1em;
                        }
                    }
                }

                button:hover, button:focus {
                    z-index: 2;

                    border-left: 5px solid $highlight;
                    box-shadow: 0 0 10px rgba($shadow, 0.2);

                    .Thumbnail {
                        box-shadow: 0 0 200px rgba($highlight, 0.8);
                    }

                    .Title {
                        color: $highlight;
                    }
                }
            }
        }

        .Loading, .NoResults {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;

        }

        .Loading {
            color: $font-color;
            font-size: 3em;
        }

        .NoResults {
            color: $font-faded-color;
            font-size: 2em;

            i {
                padding-right: 10px;
            }
        }
    }
}
