@import "~styles/common";

.SearchBox {
    position: relative;

    margin: 0;
    padding: 0;
}

.SearchBox-Input {
    $search-height: 60px;

    display: flex;

    height: $search-height;

    @include desktop {
        margin: 50px 50px 0 50px;
    }
    @include phone {
        margin: 0;
        margin-top: 30px;
    }

    box-shadow: 0 0 10px rgba($shadow, 0.2);
    background-color: $modal-color;

    border: 1px solid $bg-color;

    transition: box-shadow 0.2s;

    input[type="text"] {
        flex-grow: 1;

        @include desktop {
            padding: 0 30px;

            font-size: 1.5em;
        }
        @include phone {
            padding: 0 20px;

            font-size: 1.1em;
        }

        min-width: 0;

        background-color: $modal-color;
        border: none;

        font-family: $label-font;
        color: $font-color;
    }

    input[type="file"] {
        display: none;
    }

    button, label {
        flex-shrink: 0;

        display: inline-block;

        @include desktop {
            width: 90px;

            font-size: 1.4em;
        }

        @include phone {
            width: 60px;

            font-size: 1.0em;
        }

        background: none;
        border: none;
        border-left: 1px solid $bg-color;

        color: $font-color;
        text-align: center;
        line-height: $search-height;

        &:hover, &:focus {
            color: $highlight;
        }
    }

    &:focus-within {
        box-shadow: 0 0 10px rgba($highlight, 0.2);
    }
}

.SearchBox-Results {
    // focus-within will cause animations to be skipped, so only use this rule while not animating
    .SearchBox:focus-within &:not(&-enter):not(&-exit),
    &-enter#{&}-enter-active,
    &-exit {
        visibility: visible;
        opacity: 1;
        @include desktop {
            height: 350px;
        }
        @include phone {
            height: 40vh;
        }
        transition: visibility 0s 0s, opacity 0.2s 0s, height 0.3s, box-shadow 0.3s;

        .Overlay {
            box-shadow: 0 0 20px rgba($shadow, 0.4);
        }
    }

    &,
    &-enter,
    &-exit#{&}-exit-active {
        // Workaround for Firefox bug where the text truncation ellipsis of underlying elements will
        // render ontop of the top-level overlay
        z-index: 10;

        // Lets clicks passthrough the hidden parts of the overlay container
        pointer-events: none;

        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;

        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: visibility 0s 0.3s, opacity 0.2s 0.1s, height 0.3s;

        background: none;

        .Overlay {
            pointer-events: auto;

            @include desktop {
                width: 70%;
            }
            @include phone {
                width: 100%;
            }
            height: 100%;

            overflow-x: hidden;
            overflow-y: auto;

            margin: 0 auto;
            padding: 0;

            background: $modal-color;
            border: 1px solid $bg-color;

            box-shadow: 0 0 0 rgba($shadow, 0.4);
            transition: box-shadow 0.3s;

            ul {
                list-style-type: none;

                margin: 0;
                padding: 0;

                li {
                    button {
                        display: flex;

                        $button-height-desktop: 72px;
                        $button-height-phone: 60px;

                        position: relative;
                        width: 100%;

                        overflow: hidden;

                        background: none;
                        border: none;
                        padding: 0px;

                        z-index: 1;

                        border-left: 0 solid $highlight;
                        box-shadow: 0 0 0 rgba($shadow, 0.2);
                        transition: border-width 0.1s, box-shadow 0.2s;

                        .Thumbnail {
                            flex-shrink: 0;

                            @include desktop {
                                width: $button-height-desktop * 16 / 9;
                                height: $button-height-desktop;
                            }
                            @include phone {
                                width: $button-height-phone * 16 / 9;
                                height: $button-height-phone;
                            }
                        }

                        .Description {
                            @include truncate-text;

                            flex-grow: 1;

                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            $border-width: 1px;

                            @include desktop {
                                height: $button-height-desktop - $border-width;

                                padding: 0px 30px;
                            }
                            @include phone {
                                height: $button-height-phone - $border-width;

                                padding: 0px 20px;
                            }

                            font-family: $label-font;
                            text-align: left;

                            border-bottom: $border-width solid $bg-color;

                            .Title {
                                @include truncate-text;

                                @include desktop {
                                    font-size: 1.4em;
                                }
                                @include phone {
                                    font-size: 1.1em;
                                }

                                color: $font-color;
                            }

                            .Duration {
                                @include desktop {
                                    font-size: 1.1em;
                                }
                                @include phone {
                                    font-size: 0.9em;
                                }

                                color: $font-faded-color;
                            }
                        }

                        &:hover, &:focus {
                            z-index: 2;

                            border-left: 5px solid $highlight;
                            box-shadow: 0 0 10px rgba($shadow, 0.2);

                            .Thumbnail {
                                box-shadow: 0 0 200px rgba($highlight, 0.8);
                            }

                            .Title {
                                color: $highlight;
                            }
                        }
                    }
                }
            }

            .Loading, .NoResults {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 100%;

            }

            .Loading {
                color: $font-color;
                font-size: 3em;
            }

            .NoResults {
                color: $font-faded-color;
                font-size: 2em;

                i {
                    padding-right: 10px;
                }
            }
        }
    }
}
