@import "~styles/common";

.SearchBox {
    margin: 0;
    padding: 0;
}

.SearchBox-Input {
    $search-height: 60px;

    display: flex;

    height: $search-height;
    margin: 0 50px;
    margin-top: 50px;

    box-shadow: 0 0 10px rgba($shadow, 0.2);
    background-color: $modal-color;

    border: 1px solid $bg-color;

    transition: box-shadow 0.2s;

    input[type="text"] {
        flex-grow: 1;

        padding: 0 30px;
        min-width: 120px;

        background-color: $modal-color;
        border: none;

        font-size: 1.5em;
        font-family: $label-font;
        color: $font-color;
    }

    input[type="file"] {
        display: none;
    }

    button, label {
        flex-shrink: 0;

        display: inline-block;
        width: 90px;

        background: none;
        border: none;
        border-left: 1px solid $bg-color;

        font-size: 1.4em;
        color: $font-color;
        text-align: center;
        line-height: $search-height;
    }

    button:hover, label:hover {
        color: $highlight;
    }
}

.SearchBox-Input:focus-within {
    box-shadow: 0 0 10px rgba($highlight, 0.2);
}
