@import "theme";
@import "font";
@import "media";

@mixin user-select ($select) {
    -webkit-user-select: $select;
       -moz-user-select: $select;
        -ms-user-select: $select;
            user-select: $select;
}
