$phone-width: 768px;

@mixin phone {
    @media (max-width: $phone-width) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $phone-width + 1) {
        @content;
    }
}

.hidden-xs {
    @include phone { display: none !important; }
    @include desktop { visibility: visible !important; }
}

.visible-xs {
    @include phone { visibility: visible !important; }
    @include desktop { display: none !important; }
}
