$bg-color: rgb(48, 48, 56);
$modal-color: lighten($bg-color, 5%);
$popup-color: darken($bg-color, 3%);

$font-color: rgb(211, 210, 215);
$header-color: rgb(211, 210, 215);
$font-faded-color: darken($font-color, 20%);
$font-pop-color: lighten($font-color, 20%);

$highlight: rgb(117, 176, 255);
$highlight-success: rgb(107, 255, 94);
$highlight-error: rgb(255, 102, 94);
$highlight-pop: darken(desaturate($highlight, 16%), 18%);

$shadow: #000;

$discord-logo: url(~assets/discord-logo.svg);
$discord-logo-color: #FFF;
$discord-server-bg-color: lighten($modal-color, 10%);
