@import "~styles/common";

.FileUpload-DropZone {
    min-width: 100%;
    min-height: 100%;
}

.FileUpload-Overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;

    z-index: 999;

    @include desktop {
        background-color: rgba(0, 0, 0, 0.4);
    }
    @include phone {
        background-color: rgba(0, 0, 0, 0.9);
    }

    &-Container {
        @include modal;
        @include center-overlay;

        @include desktop {
            width: 400px;
            box-shadow: 0 0 10px rgba($highlight, 0.3);
        }

        // Prevents dragleave events firing when hovering over child elements
        pointer-events: none;

        text-align: center;

        i {
            margin: 30px;
            margin-top: 50px;
            padding: 40px;

            font-size: 6em;

            border: 3px solid $highlight;
            border-radius: 20px;
        }

        div {
            margin-bottom: 45px;

            font-size: 2em;
        }
    }

    &-enter {
        opacity: 0;
    }

    &-enter#{&}-enter-active {
        opacity: 1;
        transition: opacity 0.5s;
    }

    &-exit {
        opacity: 1;
    }

    &-exit#{&}-exit-active {
        opacity: 0;
        transition: opacity 0.5s;
    }
}

.FileUpload-Progress {
    @include modal;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 998;

    box-shadow: 0 0 10px rgba($shadow, 0.2);

    @include desktop {
        margin: 0 auto;
        width: 600px;
        background-color: $popup-color;
    }

    @include phone {
        background-color: $popup-color;
    }

    .Info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 30px;
        padding-bottom: 0;

        .File, .Status {
            display: inline-block;
        }

        .File {
            @include truncate-text;
            font-size: 1.1em;
            margin-right: 30px;
        }

        .Status {
            color: $font-faded-color;
            font-size: 0.9em;
            white-space: nowrap;

            .Queued, .Uploading {
                color: $highlight;
            }

            .Completed {
                color: $highlight-success;
            }

            .Cancelled {
                color: $highlight-error;
            }
        }
    }

    .Bar {
        box-sizing: border-box;
        width: 100%;
        height: 45px;

        margin-top: 10px;
        padding: 30px;
        padding-top: 10px;

        .Filled, .Empty {
            height: 100%;
            transition: width 0.4s linear;
        }

        .Filled {
            background-color: $highlight;
            box-shadow: 0 0 10px rgba($highlight, 0.3);
            float: left;
        }

        .Empty {
            background-color: $modal-color;
        }
    }

    &-enter {
        opacity: 0;
        transform: translateY(120%);
    }

    &-enter#{&}-enter-active {
        opacity: 1;
        transform: translateY(0%);
        transition: all 0.2s ease-out;
    }

    &-exit {
        opacity: 1;
        transform: translateY(0%);
    }

    &-exit#{&}-exit-active {
        opacity: 0;
        transform: translateY(120%);
        transition: all 0.2s ease-in 2s;
    }
}
