@import "~styles/common";

.Errors {
    @include modal;

    @include desktop {
        box-shadow: 0 0 10px rgba($highlight-error, 0.3);
        font-size: 1.5em;
    }

    @include phone {
        font-size: 1.2em;
    }

    padding: 30px;
    text-align: center;

    a {
        text-decoration: none;
        color: $highlight;

        &:hover, &:focus {
            border-bottom: 2px solid $highlight;
        }
    }
}

.Errors-List {
    @include desktop {
        width: 500px;
    }
    @include phone {
        width: 100%;
    }

    // Lets clicks passthrough the hidden parts of the overlay container
    pointer-events: none;

    position: absolute;
    z-index: $layer-error-popup;
    bottom: 0;
    left: 0;

    margin: 0;
    padding: 0;

    ul {
        @include desktop {
            margin: 20px;
        }
        @include phone {
            margin: 0;
        }

        pointer-events: none;

        padding: 0;
    }
}

.Errors-List-Item {
    @include desktop {
        border-radius: 3px;
        box-shadow: 0 0 10px rgba($shadow, 0.3);
        margin-top: 20px;
    }
    @include phone {
        margin-top: 1px;
    }

    pointer-events: auto;

    display: flex;
    align-items: stretch;

    min-height: 60px;

    list-style-type: none;

    background-color: $error-color;

    color: $font-color;

    .Errors-Message {
        flex-grow: 1;

        padding: 20px;
    }

    button {
        flex-shrink: 0;

        width: 60px;

        border: none;
        background: none;

        color: $font-color;
        font-size: 1.1em;
    }

    &-enter#{&}-enter-active,
    &-exit {
        opacity: 1;
        transform: translateX(0%);
        transition: opacity 0.3s, transform 0.3s;
    }

    &-exit#{&}-exit-active,
    &-enter {
        opacity: 0;
        transform: translateX(-20%);
        transition: opacity 0.3s, transform 0.3s;
    }
}
