@import "~styles/common";

.LivePlaylist {
    ol {
        @include desktop {
            margin: 50px;
        }
        @include phone {
            margin: 0px;
            margin-top: 30px;
        }

        padding: 0;
    }
}

.LivePlaylist-Track {
    @include user-select(none);

    $track-height-desktop: 90px;
    $track-height-phone: 60px;

    padding: 0;
    margin-top: 10px;

    background-color: $modal-color;
    box-shadow: 0 0 10px rgba($shadow, 0.2);

    overflow: hidden;

    position: relative;

    list-style-type: none;

    .Metadata {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;
        z-index: $layer-list-item;

        text-shadow: 0 0 5px rgba($shadow, 0.2);

        .Thumbnail {
            flex-shrink: 0;

            @include desktop {
                width: 50px;
                height: 50px;
                margin-right: 20px;
                margin-left: 30px;
            }
            @include phone {
                width: 30px;
                height: 30px;
                margin-right: 5px;
                margin-left: 15px;
            }

            pointer-events: none;

            border-radius: 50%;
        }

        .TrackInfo {
            flex-grow: 1;

            overflow: hidden;

            .TrackTitle {
                @include truncate-text;

                @include desktop {
                    padding-right: 30px;
                    font-size: 1.5em;
                    // Mixed fonts for glyph fills (CJK text, etc) causes variable line-height
                    line-height: 30px;
                }
                @include phone {
                    padding-right: 10px;
                    font-size: 1.0em;
                    // Mixed fonts for glyph fills (CJK text, etc) causes variable line-height
                    line-height: 20px;
                }

                padding-left: 10px;
            }

            .TrackDuration {
                @include desktop {
                    font-size: 0.9em;
                }
                @include phone {
                    font-size: 0.7em;
                }
                color: $font-faded-color;

                padding-left: 10px;
            }
        }

        .TrackUrl {
            flex-shrink: 0;

            @include desktop {
                width: $track-height-desktop;
                height: $track-height-desktop;
                line-height: $track-height-desktop;
                font-size: 2em;
            }
            @include phone {
                width: $track-height-phone;
                height: $track-height-phone;
                line-height: $track-height-phone;
                font-size: 1.4em;
            }

            display: inline-block;

            border-left: 1px solid $bg-color;

            text-align: center;

            color: $font-color;

            &:hover, &:focus {
                color: $highlight;
            }
        }

        button {
            flex-shrink: 0;

            @include desktop {
                width: $track-height-desktop;
                height: $track-height-desktop;
                font-size: 1.5em;
            }
            @include phone {
                width: $track-height-phone;
                height: $track-height-phone;
                font-size: 1.1em;
            }

            display: inline-block;

            padding: 0;

            border: none;
            border-left: 1px solid $bg-color;

            color: $font-color;
            background-color: inherit;

            text-shadow: 0 0 5px rgba($shadow, 0.2);

            &:hover, &:focus {
                color: $highlight-error;
            }
        }
    }

    .Progress {
        height: 100%;

        position: absolute;
        z-index: $layer-list-item-under;
        top: 0;
        left: 0;

        background-color: rgba($highlight, 0.1);

        // Duration is 50% longer than actual update frequency to keep things smoother
        transition: width 1.5s linear;
    }

    &-enter#{&}-enter-active,
    &-exit {
        @include desktop {
            max-height: $track-height-desktop;
        }
        @include phone {
            max-height: $track-height-phone;
        }

        margin-top: 10px;
        opacity: 1;

        transition: all 0.12s;
    }

    &-exit#{&}-exit-active,
    &-enter {
        margin-top: 0;
        max-height: 0;
        opacity: 0;

        transition: all 0.12s;
    }
}
