@import "~styles/common";

.LivePlaylist {
    ol {
        padding: 0;
        margin: 50px;
    }
}

.LivePlaylist-Track {
    @include user-select(none);

    $track-height: 90px;

    padding: 0;
    margin-top: 10px;

    background-color: $modal-color;
    box-shadow: 0 0 10px rgba($shadow, 0.2);

    overflow: hidden;

    position: relative;

    list-style-type: none;

    .Metadata {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;
        z-index: 2;

        text-shadow: 0 0 5px rgba($shadow, 0.2);

        .Thumbnail {
            flex-shrink: 0;
            width: 50px;
            height: 50px;

            pointer-events: none;

            border-radius: 50%;
            margin-right: 20px;
            margin-left: 30px;
        }

        .TrackInfo {
            flex-grow: 1;

            overflow: hidden;

            .TrackTitle {
                @include truncate-text;
                padding-right: 30px;
                font-size: 1.5em;
                // Mixed fonts for glyph fills (CJK text, etc) causes variable line-height
                line-height: 30px;

                padding-left: 10px;
            }

            .TrackDuration {
                font-size: 0.9em;
                color: $font-faded-color;

                padding-left: 10px;
            }
        }

        .TrackUrl {
            flex-shrink: 0;
            width: $track-height;
            height: $track-height;

            display: inline-block;

            border-left: 1px solid $bg-color;

            line-height: $track-height;
            font-size: 2em;
            text-align: center;

            color: $font-color;

            &:hover, &:focus {
                color: $highlight;
            }
        }

        button {
            flex-shrink: 0;
            width: $track-height;
            height: $track-height;

            display: inline-block;

            padding: 0;

            border: none;
            border-left: 1px solid $bg-color;

            color: $font-color;
            background-color: inherit;

            font-size: 1.5em;
            text-shadow: 0 0 5px rgba($shadow, 0.2);

            &:hover, &:focus {
                color: $highlight-error;
            }
        }
    }

    .Progress {
        height: 100%;

        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        background-color: rgba($highlight, 0.1);

        // Duration is 50% longer than actual update frequency to keep things smoother
        transition: width 1.5s linear;
    }

    &-enter#{&}-enter-active,
    &-exit {
        margin-top: 10px;
        max-height: $track-height;
        opacity: 1;

        transition: all 0.12s;
    }

    &-exit#{&}-exit-active,
    &-enter {
        margin-top: 0;
        max-height: 0;
        opacity: 0;

        transition: all 0.12s;
    }
}
