@import "~styles/common";

.ServerSelect {
    @include modal;

    @include desktop {
        width: 400px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba($shadow, 0.3);
    }

    h1 {
        margin: 0;
        padding: 30px 30px;

        color: $header-color;

        font-size: 1.5em;
        font-family: $header-font;
    }

    ul {
        margin: 0;
        padding: 0;

        list-style-type: none;
    }

    li {
        border-top: 1px solid $modal-color;

        button {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            padding: 0;

            color: $font-color;
            background-color: $bg-color;

            text-align: left;
            font-family: $label-font;
            font-size: 1.2em;

            border: none;
            // Specify border-left so it can animate both ways
            border-left: 0px solid $highlight;

            // Specify box-shadow so it can animate both ways
            box-shadow: 0 0 0px rgba($shadow, 0.2);
            // z-index so hovered button shadows others
            position: relative;
            z-index: 1;

            transition: border-width 0.1s, box-shadow 0.2s;

            img, .NullLogo {
                flex-shrink: 0;
                // Use min-max to skirt around some insane Chrome bug that would set the width to
                // 37.5, only sometimes, on certain pageloads, and only until the button had been
                // hovered over once after which it would be fixed until the browser was restarted.
                // CSS is still terrible, even on modern browsers apparently
                min-width: 50px;
                max-width: 50px;
                min-height: 50px;
                max-height: 50px;

                border-radius: 50%;

                margin: 24px;
            }

            .NullLogo {
                font-size: 1.4em;
                text-align: center;
                line-height: 54px;

                color: $discord-logo-color;
                background-color: $discord-server-bg-color;
            }

            span {
                @include truncate-text;
                flex-grow: 1;
            }

            .EndIcon {
                padding: 0 32px;
                flex-shrink: 0;
            }
        }

        button:hover, button:focus {
            color: $highlight;

            border-left-width: 5px;

            box-shadow: 0 0 10px rgba($shadow, 0.2);
            z-index: 2;
        }
    }

    .NoServers {
        width: 100%;
        padding: 32px 0;

        color: $font-faded-color;
        font-size: 1.4em;
        text-align: center;

        background-color: $bg-color;
        border-top: 1px solid $modal-color;
    }

    .Options {
        display: flex;
        align-items: center;

        width: 100%;
        padding: 0;

        @include phone {
            border-top: 1px solid $modal-color;
        }

        button {
            flex-grow: 1;
            flex-shrink: 0;

            padding: 15px 0;

            border: none;
            background: none;

            text-align: center;
            font-family: $label-font;
            font-size: 1.3em;

            color: $font-color;
        }

        button:hover, button:focus {
            color: $highlight;
        }
    }
}
