@import "~styles/common";

:root {
    font-family: $label-font;
    color: $font-color;
}

:root, body, #App-Mount {
    background-color: $bg-color;
    margin: 0;
    padding: 0;
}

:root, body {
    height: 100%;
}

#App-Mount {
    // Horizontally and vertically center children by default
    @include center-flex;
    min-height: 100%;
}

:focus {
    // All of our UI elements should have good focus effects already
    // This removes the nasty orange outline on mobile Chrome, etc
    outline: none;
}
